RewriteEngine On    # Turn on the rewriting engine
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}


# Unless directory, remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d


# Redirect external .php requests to extensionless url
RewriteCond %{THE_REQUEST} ^(.+)\.php([#?][^\ ]*)?\ HTTP/


# Resolve .php file for extensionless php urls
RewriteRule ^([^/.]+)$ $1.php [L]